@font-face {
                font-family: "wf_segoe-ui_light";
                src: local("Segoe UI Light"),
                local("Segoe WP Light"),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-light.woff') format('woff'),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-light.ttf') format('truetype');
                }
            @font-face {
            	font-family: "wf_segoe-ui_normal";
             	src: local("Segoe UI"),
            	local("Segoe WP"),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-regular.woff') format('woff'),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-regular.ttf') format('truetype');
                }
                @font-face {
                font-family: "wf_segoe-ui_semibold";
                src: local("Segoe UI Semibold"),
                local("Segoe WP Semibold"),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-semibold.woff') format('woff'),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-semibold.ttf') format('truetype');
                font-weight: bold;
                }
                @font-face {
                font-family: "wf_segoe-ui_semilight";
                src: local("Segoe UI Semilight"),
                local("Segoe WP Semilight"),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-semilight.woff') format('woff'),
                url('https://r4.res.office365.com/owa/prem/16.2208.7.2510395/resources/styles/fonts/segoeui-semilight.ttf') format('truetype');

}
     h1 {font-family: wf_segoe-ui_light,Segoe UI Light,Segoe WP Light,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 66px;
    color: #fff;
    margin-bottom: 26px;
    }

.section-outlook .header {
	background-color: #0078d7;
	position: relative;
	vertical-align: baseline;
}


.section-outlook .header .headerContainer {
	padding: 35px 150px 40px 160px;
}
.section-outlook .header .headerContainer .headerlogo {
	float: left;
	width: 151px;
	display: block;


}
.section-outlook .header .headerContainer .headermenu {
	text-align: right;
	margin-right: 150px;



}


.section-outlook .header .headerContainer .linkButton {
	display: inline-block;
	line-height: 39px;
	padding: 0 5px;
	text-decoration: none;
	cursor: pointer;
	font-size: 100%;
	color: #fff;

}

.section-outlook .header .headerContainer .linkButton:hover {
	color: black;
}
.section-outlock .header .conteudo-header {
	text-align: center;;
    position: relative;

}


.section-outlook .header .conteudo-header h1{
	font-family: wf_segoe-ui_light,Segoe UI Light,Segoe WP Light,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
	perspective: 800px;
	font-size: 66px;
    color: #fff;
    margin-bottom: 26px;
    text-align: center;
	
}

.section-outlook .header .conteudo-header h2 {
	font-family: wf_segoe-ui_semilight,Segoe UI Semilight,Segoe WP Semilight,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 30px;
    color: hsla(0,0%,100%,.8);
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
}

.section-outlook .header div {
	display: block;
	text-align: center;
	padding-bottom: 120px;
}
.section-outlook .header .buttonLargeWhite {
	background: #fff;
    font-family: wf_segoe-ui_semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 22px;
    color: #0078d7;
    letter-spacing: 0;
    min-width: 200px;
    display: inline-block;
    padding: 14px 10px 16px;
    text-align: center;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    cursor: pointer;
    text-decoration: none;
}



.section-outlook .header .buttonLargeBlue {
	background: hsla(0,0%,100%,.22);
	font-family: wf_segoe-ui_semibold,Segoe UI Semibold,Segoe WP Semibold,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0;
    min-width: 200px;
    display: inline-block;
    padding: 14px 10px 16px;
    text-align: center;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    margin-left: 40px;
    cursor: pointer;
}

.section-outlook .header .buttonLargeWhite:hover {
 	background: #00508a;
 	color: #fff;
}
.section-outlook .header .buttonLargeBlue:hover {
 	background: #00508a;
 	color: #fff;
}
.section-outlook .header #headerCurve {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #0078d7;
}

.section-outlook .outlookMessage {
	background-color: #222;
    text-align: center;
    padding-top: 88px;
    margin-top: -1px;
}
.section-outlook .outlookMessage  h1{
	font-family: wf_segoe-ui_light,Segoe UI Light,Segoe WP Light,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
	perspective: 800px;
	font-size: 66px;
    color: #fff;
    margin-bottom: 26px;
    text-align: center;
}

.section-outlook .outlookMessage  h2{	
	font-family: wf_segoe-ui_semilight,Segoe UI Semilight,Segoe WP Semilight,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;
    font-size: 30px;
    color: hsla(0,0%,100%,.8);
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
}
.section-outlook .outlookMessage .outlookMessageImg {
	    width: 64%;
    	max-width: 800px;
    	margin: 0 auto;
}
.section-outlook .travelMessage  {
	background-color: snow;
    text-align: center;
    margin-top: -300px;
    position: relative;
    padding-top: 88px;
}
.section-outlook .travelMessage #travelMessageCurve {
	position: absolute;
    width: 100%;
    height: 70px;
    top: -69px;
    bottom: 0;
    left: 0;
}
.section-outlook .travelMessage .travelMessageImg {
    width: 54%;
    max-width: 690px;
    margin: 0 auto;
}
.section-outlook .travelMessage h1{
   color: #0078d7;
}




